@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
  margin: 0;
  font-family:  'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ecef ;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: lightgray;
  
}

a{
  text-decoration: none;
}